/********************************************
* Author: Tomasz
* Date: 10.08.20
*
*********************************************/
/*  Font Size*/

article{
    font-size: 16px;
}

article h2{
    font-size: 4em;
}

article p{
    font-size: 500%;
}