/********************************************
* Author: Tomasz
* Date: 10.08.20
*
*********************************************/
/*   Paragraph Spacing*/

p{
    font-size: 14px;
    line-height: 2em;
    margin-bottom: 32px;
}


